//Mobile first - Global Settings
$susy: (columns: 6, gutters: 1, gutter-position: inside);

//Layouts
$desktop: layout(12);

.container {
    //border: 1px solid red;
    position: relative;
    @include container(80em);
}

.span-2 {
    @include span(6);
    //overflow: hidden;
    //position: relative;
    @include susy-breakpoint(55em, $desktop) {
        @include span(6);
    }
}

.span-3 {
    @include span(6);
    overflow: hidden;
    position: relative;
    @include susy-breakpoint(55em, $desktop) {
        @include span(4);
    }
}

.span-4 {
    @include span(6);
    overflow: hidden;
    position: relative;
    @include susy-breakpoint(55em, $desktop) {
        @include span(3);
    }
}

.span-5 {
    @include span(6);
    overflow: hidden;
    position: relative;
    @include susy-breakpoint(55em, $desktop) {
        @include span(5);
    }
}

.span-6 {
    @include span(6);
    overflow: hidden;
    position: relative;
    @include susy-breakpoint(55em, $desktop) {
        @include span(6);
    }
}

.span-7 {
    @include span(6);
    overflow: hidden;
    position: relative;
    @include susy-breakpoint(55em, $desktop) {
        @include span(7);
    }
}

.span-8 {
    @include span(6);
    overflow: hidden;
    position: relative;
    @include susy-breakpoint(55em, $desktop) {
        @include span(8);
    }
}

.span-9 {
    @include span(6);
    overflow: hidden;
    position: relative;
    @include susy-breakpoint(55em, $desktop) {
        @include span(9);
    }
}

.span-10 {
    @include span(6);
    overflow: hidden;
    position: relative;
    @include susy-breakpoint(55em, $desktop) {
        @include span(10);
    }
}

.span-11 {
    @include span(6);
    overflow: hidden;
    position: relative;
    @include susy-breakpoint(55em, $desktop) {
        @include span(11);
    }
}

.span-12 {
    @include span(6);
    overflow: hidden;
    position: relative;
    @include susy-breakpoint(55em, $desktop) {
        @include span(12);
    }
}

.center {
    float: none;
    margin: 0 auto;
}

.block-grid-2 {
    @include gallery(12 of 12);
    &:nth-child(1n + 1) {
        clear: both;
    }
    @include susy-breakpoint(55em, $desktop) {
        @include gallery(3 of 12);
    }
}

.banner {
    background-color: #f5f5f6;
    background-image: url(images/bg-header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 312px;
    position: relative;
}

footer {
    position: relative;
}

.toggle-map {
    background: black;
    bottom: 0;
    display: block;
    left: 45%;
    margin-left: auto;
    position: absolute;
    text-align: center;
    width: 100px;
    z-index: 10;
    a {
        color: white;
        &:hover {
            color: white;
        }
    }
}

.location-toggle {
    background: black;
    color: white;
    display: block;
    left: 40px;
    margin-left: auto;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100px;
    z-index: 10;
    &#location-2 {
        left: 150px;
    }
    a {
        color: white;
    }
}

.infoBox {
    .info_content {
        background: $black;
        color: $white;
        padding: 6px 12px;
        p {
            font-size: 1em;
        }
    }
    &:after {
        border-left: 20px solid transparent;
        border-right: 15px solid transparent;
        border-top: 30px solid $black;
        content: "";
        left: 44%;
        position: absolute;
    }
}

.first-element {
    background-color: #dedfd4;
    background-image: -moz-linear-gradient(left bottom, #dedfd4 0%, #988573 0%, #7c9490 87%);
    background-image: -ms-linear-gradient(left bottom, #dedfd4 0%, #988573 0%, #7c9490 87%);
    background-image: -o-linear-gradient(left bottom, #dedfd4 0%, #988573 0%, #7c9490 87%);
    background-image: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #dedfd4), color-stop(0%, #988573), color-stop(87%, #7c9490));
    background-image: -webkit-linear-gradient(left bottom, #dedfd4 0%, #988573 0%, #7c9490 87%);
    background-image: linear-gradient(left bottom, #dedfd4 0%, #988573 0%, #7c9490 87%);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr=#dedfd4, endColorstr=#988573);
}

#slider2 {
    -moz-box-shadow: inset -110px 20px 80px -12px #C4AA95;
    -o-box-shadow: inset -110px 20px 80px -12px #C4AA95;
    -webkit-box-shadow: inset -110px 20px 80px -12px #C4AA95;
    box-shadow: inset -110px 20px 80px -12px #C4AA95;
}