//Use this partial for classes and project specific custom typography

a {
    color: #000;
    text-decoration: none;
    &:hover {
        border-bottom: 1px dotted #888;
        color: #888;
        outline: none;
    }
}